.testimonial_wrap { 	width:600px; }
div.cte_type { margin:0 0 9px; height: 16px; }
div.cte_type_title { font-weight: bold; color: #000; }
.tl_file_list { vertical-align:top; padding:6px 0 !important ; }
.mark_links a { text-decoration: underline; }
.cte_type.published { background-image:url("images/approved.gif"); }
.cte_type.unpublished { background-image:url("images/pending.gif"); }
span.vote { display: inline-block; width: 100px; height: 16px;  }
.star0 {background-image:url("images/vote/small_0.gif")}
.star1 {background-image:url("images/vote/small_1.gif")}
.star2 {background-image:url("images/vote/small_2.gif")}
.star3 {background-image:url("images/vote/small_3.gif")}
.star4 {background-image:url("images/vote/small_4.gif")}
.star5 {background-image:url("images/vote/small_5.gif")}