/*******************************
 * Default Style Settings
 *******************************/
.invisible {display: none;}

article, section, img {margin: 0; padding: 0; display: block;}

.clr {clear: both; height: 1px;}

.ce_testimonials.dark { background: none; }

/*******************************
 * Rating Stars Styling
 *******************************/
.totalVotes 		{ background-image: url('../../images/votes-total.png');} 
.totalContainer 	{ overflow:hidden; width: 320px; height: 64px; margin: 10px auto;background-repeat: repeat-x;}
.totalStars		{ background-position:left 63px; display: block; height: 64px;}

.formVotes		{ background-image: url('../../images/votes-form.png'); }
.formContainer	{ overflow:hidden; width: 160px; height: 28px; background-repeat: repeat-x;}
.formStars		{ background-position:left 28px; display: block; height: 28px;}

.smallVotes		{ background-image: url('../../images/votes-small.png'); }
.smallContainer	{ overflow:hidden; width: 120px; height: 24px; background-repeat: repeat-x;}
.smallStars		{ background-position:left 24px; display: block; height: 24px;}

.ratingContainer 		{display: block; min-width: 280px; height: 27px; line-height: 27px; position: relative; margin: 5px 0;}
.ratingContainer span 	{display: block; height: 27px; line-height: 27px; }
.ratingContainer strong 	{display: inline-block; padding: 0 10px; font-weight: normal;font-style:italic; color: #666; font-size: .8em; position: absolute; top:0px; left: 120px; margin-left: 2px; text-shadow: 1px 1px 1px #fff;}

/*******************************
 * Testimonials Entry Styling
 *******************************/
.testimonial_entry .one-half { float:left; position:relative; display: block; min-width: 260px; padding-right: 5px; border-right: 1px #111 solid;}
.testimonial_entry .one-half.last { padding-right: 0; border-right: 0; }
.testimonial_entry .one-half .ratingContainer {position:relative; clear: both; display: block;height: 25px; line-height: 25px; margin: 20px 0;}
.testimonial_entry .one-half .ratingContainer h4 {  margin:0; padding: 0; position: absolute; right: 140px; top: -10pxpx;height: 32px; line-height: 32px; display: block; font-size: .8em; }
.testimonial_entry .one-half .ratingContainer .smallContainer {position: absolute; right: 10px; top: 0; }
.testimonial_entry .one-half.last .ratingContainer h4 {  position: absolute; left: 140px; }
.testimonial_entry .one-half.last .ratingContainer .smallContainer {position: absolute; left: 10px; top: 0; }

/*******************************
 * Testimonials Stats Styling
 *******************************/
#stats .statsdesc { margin: 50px; padding: 50px; text-align: center; }
#totalstats-list .one-half { float:left; position:relative; display: block; width:48%; min-width: 350px; margin-right:4%; }
#totalstats-list .one-half.last {margin-right: 0;}
#totalstats-list .one-half .voteContainer {position:relative; clear: both; display: block;height: 28px; line-height: 28px; margin: 20px 0;}
#totalstats-list .one-half .voteContainer h4 {  margin:0; padding: 0; position: absolute; right: 180px; top: -10pxpx;height: 32px; line-height: 32px; display: block; font-size: .8em; }
#totalstats-list .one-half .voteContainer .formContainer {position: absolute; right: 10px; top: 0; }
#totalstats-list .one-half.last .voteContainer h4 {  position: absolute; left: 180px; }
#totalstats-list .one-half.last .voteContainer .formContainer {position: absolute; left: 10px; top: 0; }

/*******************************
 * Testimonials Forms Settings
 *******************************/

#tm_form .one-half { float:left; position:relative; display: block; width:48%; min-width: 350px; margin-right:4%; }
#tm_form .one-half.last {margin-right: 0;}
#tm_form .starrating { display: block; height: 28px; line-height: 28px; margin: 20px 0; clear: both; position: relative; display: block; vertical-align: middle;}
#tm_form .starrating .formContainer { width: 160px; display: inline-block; float: left; margin: 0 10px;}
#tm_form .starrating label { width: 160px; display: block; float: left; height: 28px; line-height: 28px; }
#tm_form h3 { margin-top: 15px;}

/*******************************
 * Tabber Settings
 *******************************/
.tab-wrapper { padding: 2em; margin: 0; clear: both; }
.tab-menu { margin: 0 25px; padding: 0; list-style: none; overflow: hidden;}
.tab-menu li { margin: 0 5px 0; padding: 0 15px; height: 40px; float: left;line-height: 40px;}


