/*******************************
 * Default Style Settings
 *******************************/
.invisible {display: none;}

article, section, img {margin: 0; padding: 0; display: block;}

.clr {clear: both; height: 1px;}

.ce_testimonials.light { background: none; }
/*******************************
 * Rating Stars Styling
 *******************************/
.totalVotes 		{ background-image: url('../../images/votes-total.png');} 
.totalContainer 	{ overflow:hidden; width: 320px; height: 64px; margin: 10px auto;background-repeat: repeat-x;}
.totalStars		{ background-position:left 63px; display: block; height: 64px;}

.formVotes		{ background-image: url('../../images/votes-form.png'); }
.formContainer	{ overflow:hidden; width: 160px; height: 28px; background-repeat: repeat-x;}
.formStars		{ background-position:left 28px; display: block; height: 28px;}

.smallVotes		{ background-image: url('../../images/votes-small.png'); }
.smallContainer	{ overflow:hidden; width: 120px; height: 24px; background-repeat: repeat-x;}
.smallStars		{ background-position:left 24px; display: block; height: 24px;}

.ratingContainer 		{display: block; min-width: 280px; height: 27px; line-height: 27px; position: relative; margin: 5px 0;}
.ratingContainer span 	{display: block; height: 27px; line-height: 27px; }
.ratingContainer strong 	{display: inline-block; padding: 0 10px; font-weight: normal;font-style:italic; color: #666; font-size: .8em; position: absolute; top:0px; left: 120px; margin-left: 2px; text-shadow: 1px 1px 1px #fff;}

/*******************************
 * Testimonials Entry Styling
 *******************************/
.testimonial_entry { margin: 10px 20px 30px; position: relative; overflow: visible; }
.testimonial_entry.last { margin-right: 20px !important;}
.testimonial_entry .avatar {display: block; position: absolute; top: -20px; left: -20px; z-index: 3; padding: 5px; background: #fff; border: 1px #E2E2E2 solid; -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px; -moz-box-shadow: 3px 3px 6px #808080; -webkit-box-shadow: 3px 3px 6px #808080; box-shadow: 3px 3px 6px #808080; } 
.testimonial_entry .avatar img{ -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; }
.testimonial_entry .btvote { position: absolute; top: 10px; right: 20px; z-index: 2; }
.testimonial_entry .rated { right: 0; z-index: 1; position: absolute; -moz-box-shadow: -4px 0px 5px #979797; -webkit-box-shadow: -4px 0px 5px #979797; box-shadow: -4px 0px 5px #979797; }
.testimonial_entry .one-half { float:left; position:relative; display: block; min-width: 260px; padding-right: 5px; border-right: 1px #E2E2E2 solid;}
.testimonial_entry .one-half.last { padding-right: 0; border-right: 0; }
.testimonial_entry .one-half .ratingContainer {position:relative; clear: both; display: block;height: 25px; line-height: 25px; margin: 20px 0;}
.testimonial_entry .one-half .ratingContainer h4 {  margin:0; padding: 0; position: absolute; right: 140px; top: -10pxpx;height: 32px; line-height: 32px; display: block; text-shadow: 1px 1px 1px #fff; font-weight: normal;font-style:italic; color: #666; font-size: .8em; }
.testimonial_entry .one-half .ratingContainer .smallContainer {position: absolute; right: 10px; top: 0; }
.testimonial_entry .one-half.last .ratingContainer h4 {  position: absolute; left: 140px; }
.testimonial_entry .one-half.last .ratingContainer .smallContainer {position: absolute; left: 10px; top: 0; }
.testimonial_entry .votedetails { padding-left:10px; padding-bottom:200px; background: rgb(226,226,226); background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(255,255,255,1) 50%, rgba(242,245,246,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(242,245,246,1))); background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f5f6',GradientType=0 ); }
.testimonial_entry .author {height: 50px; line-height: 50px; padding-left: 110px; padding-right: 180px; }
.testimonial_entry .author h3 {font-size: 16px; color: #333; text-shadow: 1px 1px 0px #000;}
.testimonial_entry .author a { color: #333; text-decoration: none;}
.testimonial_entry .inside { display: block; position: relative; border: 1px #E2E2E2 solid; -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px; background: rgb(226,226,226); background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(255,255,255,1) 50%, rgba(242,245,246,1) 100%); 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(242,245,246,1))); background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f5f6',GradientType=0 ); min-height: 150px; overflow: hidden; }
.testimonial_entry .testimonial { padding:10px;  background: fff; }
.testimonial_entry .testimonial h3 { padding-left: 100px; color: #999; text-shadow: 1px 1px 0px #000;}

/*******************************
 * Testimonials Stats Styling
 *******************************/
#stats .statsdesc { margin: 50px; padding: 50px; text-align: center; border: 1px #E2E2E2 solid; -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px; background: rgb(226,226,226); background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(255,255,255,1) 50%, rgba(242,245,246,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(242,245,246,1))); background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 50%,rgba(242,245,246,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f5f6',GradientType=0 ); }
#totalstats-list .one-half { float:left; position:relative; display: block; width:48%; min-width: 350px; margin-right:4%; }
#totalstats-list .one-half.last {margin-right: 0;}
#totalstats-list .one-half .voteContainer {position:relative; clear: both; display: block;height: 28px; line-height: 28px; margin: 20px 0;}
#totalstats-list .one-half .voteContainer h4 {  margin:0; padding: 0; position: absolute; right: 180px; top: -10pxpx;height: 32px; line-height: 32px; display: block; text-shadow: 1px 1px 1px #fff; font-weight: normal;font-style:italic; color: #666; font-size: .8em; }
#totalstats-list .one-half .voteContainer .formContainer {position: absolute; right: 10px; top: 0; }
#totalstats-list .one-half.last .voteContainer h4 {  position: absolute; left: 180px; }
#totalstats-list .one-half.last .voteContainer .formContainer {position: absolute; left: 10px; top: 0; }

/*******************************
 * Testimonials Forms Settings
 *******************************/

#tm_form .one-half { float:left; position:relative; display: block; width:48%; min-width: 350px; margin-right:4%; }
#tm_form .one-half.last {margin-right: 0;}
#tm_form .starrating { display: block; height: 28px; line-height: 28px; margin: 20px 0; clear: both; position: relative; display: block; vertical-align: middle;}
#tm_form .starrating .formContainer { width: 160px; display: inline-block; float: left; margin: 0 10px;}
#tm_form .starrating label { width: 160px; display: block; float: left; height: 28px; line-height: 28px; color:#999; }
#tm_form h3 { color:#999; margin-top: 15px;}
#tm_form input[type="text"] {width:75%; margin-left: 4px;}
#tm_form textarea{width:95%;height:140px}
#tm_form input[type="text"],#tm_form textarea { border: 0; padding:10px; background: #bbb; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius:5px; color:#666;behavior:url('assets/css3pie/1.0.0/PIE.htc'); -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75); box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75); }
#tm_form input.captcha{width:48px;margin-right:6px}
#tm_form span.captcha_text{font-weight:normal;color:#444}*:first-child+html span.captcha_text{top:-3px;position:relative}
#tm_form .submit_container{margin-top:1em;margin-bottom:1em}
#tm_form .submit_container .submit { width: auto; height: 40px; line-height: 40px; padding:0 10px; border:1px solid #ccc;border-radius:5px;line-height:1;color:#999;behavior:url('assets/css3pie/1.0.0/PIE.htc');cursor:pointer;text-shadow:1px 1px 0 #000; -moz-box-shadow: 2px 2px 5px 0px #666; -webkit-box-shadow: 2px 2px 5px 0px #666; box-shadow: 2px 2px 5px 0px #666; background:transparent url("button-blue.png") left top repeat-x;}
#tm_form .submit_container .submit:hover { color: #333; text-shadow:1px 1px 0 #eee; background:transparent url("button-blue.png") left -40px repeat-x; }

/*******************************
 * Tabber Settings
 *******************************/
.tab-wrapper { padding: 2em; margin: 0; border-top: 1px solid #666; clear: both; }
.tab-menu { margin: 0 25px; padding: 0; list-style: none; overflow: hidden;}
.tab-menu li { margin: 0 5px 0; padding: 0 15px; height: 40px; float: left;line-height: 40px; border: 1px solid #eee;border-bottom: 0; -moz-border-radius-topleft: 10px; -moz-border-radius-topright:10px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; border-top-left-radius:10px;border-top-right-radius:10px; -moz-box-shadow: 2px 2px 5px 0px #666; -webkit-box-shadow: 2px 2px 5px 0px #666; box-shadow: 2px 2px 5px 0px #666; background:transparent url("button-blue.png") left top repeat-x; }
.tab-menu li:hover { background:transparent url("button-blue.png") left -40px repeat-x; }
.tab-menu li a { font-size: 14px; font-weight: normal; text-transform: uppercase; text-decoration: none; color: #999; text-shadow:1px 1px 0 #000}
.tab-menu li a:hover, .tab-menu li.tab-selected a:hover  { color: #999; text-shadow:1px 1px 0 #666;  text-decoration: none;}
.tab-menu li.tab-selected a { text-decoration: none; color: #fff; text-shadow:1px 1px 0 #000;  }

/*******************************
 * PageNav Settings
 *******************************/
.pagination { margin-top: 50px; display: block;}
.pagination p { display: none;}
.pagination li { height: 30px; line-height: 30px; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; }
.pagination .current {color: #000;}